body {
    font-family: "Roboto", sans-serif;
    background-color: #F2E9D0;
    color: #070707;
    margin: 0;
    padding: 2rem;
}

h1,h2,h3 {
    font-family: "Merriweather", serif;
    color: #2E5339;
}

#site-plan {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
    background: white;
    border-radius: 5px;
    border: 2px solid #2E5339;
}

strong {
    color: #C17817;
}

figure img {
    width: 100%;
    max-width: 600px;
    border: 2px solid #2E5339;
    border-radius: 6px;
}