header {
    padding: .5rem 2%;
    background-color: #040404;
    color: white;
    padding: 2rem 2%;
}

header h1 {
    margin: 0;
    text-align: center;
}


main {
    padding: 0 2%;
    min-height: auto;
}

.forms fieldset {
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
}

.forms legend {
    color: #445ba9;
    padding: 0 .5rem;
}

.forms label {
    display: block;
    padding: 1rem;
    color: #333;
    font-size: .9rem;
}

.forms input[type="radio"],
.forms input[type="checkbox"] {
    margin-right: .4rem;
}

.forms textarea {
    width: 96%;
    max-width: 400px;
    height: 100px;
    margin: .5rem 2%;
    padding: .5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    resize: vertical;
}

.forms input[type="text"],
.forms select,
.forms input[type="date"] {
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    margin: .5rem 0 1rem 0;
    font-size: 1rem;
    cursor: pointer;
}


.forms input[type="submit"],
button[type="submit"] {
    background-image: linear-gradient(#445ba9, #2c3e87);
    color: white;
    border: none;
    border-radius: 6px;
    padding: .75rem;
    font-size: 1rem;
    cursor: pointer;
    width: 96%;
    max-width: 400px;
    margin: 1rem 2% 2rem 2%;
}

footer {
    background-color: #040404;
    color: white;
    padding: .5rem 2%;
    text-align: center;
}