body{
    font-family:'Roboto', sans-serif;
}

header, main, footer{
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #000;
    padding: 1rem;
    background-color: rgb(213, 239, 248);
}

main{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section{
    padding: 1rem;
    background-color: white;
}