body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
}

nav {
    background: #34495e;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}


nav li {
    margin: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

header {
    background: black;
    color: white;
    text-align: center;
    padding: 1rem;
    grid-column: 1/-1;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1 /-1;
    gap: 1.5rem;
    padding: 2rem;
    background-color: #fff;
    align-items: start;
}

main>h1 {
    grid-column: 1 / -1;
    text-align: center;
    color: #34495e;
    margin-bottom: 1rem;
}

.card {
    background-color: #fefefe;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
}

.card h2 {
    color: #34495e;
    border-bottom: 1px solid #34495e;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.card img {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    background: black;
    color: white;
    padding: 1rem;
    text-align: center;
    grid-column: 1 / -1;
}