#templeCards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

.templeCard {
    background: #fff;
    border-radius: 10px;
    padding: .5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.templeCard img {
    width: 100%;
    border-radius: 8px;
}