body {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

header {
    background: rgb(1, 125, 174);
    color: white;
    text-align: center;
    padding: .5rem;
}

.hero img {
    width: 100%;
    height: auto;
}

.weather{
    text-align: center;
    background: rgb(226, 225, 225);
    margin: 1rem;
    padding: 1rem;
}

.weather h2::after {
    content: "";
}

.small-weather-icon {
    width: 60px;
    display: block;
    margin: 0 auto;
}

footer {
    background: rgb(1, 125, 174);
    color: white;
    text-align: center;
}