body {
    font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: normal;
}

header {
    background: rgb(1, 125, 174);
    color: white;
    text-align: center;
    padding: .5rem;
}

nav {
    background: rgb(128, 127, 127);
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    display: none;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
nav ul.show {
    display: flex;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    display: block;
}

#hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    display: block;
    margin: 1rem auto;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 1rem;
    display: block;
    /*grid-template-columns: 1fr;
    gap: 1rem;*/
}

main>h1 {
    text-align: center;
    font-size: 2.3rem;
    padding: 1rem 0;
    margin-bottom: 1rem;
    color: #333;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

figure {
    background: #f8f8f8;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

figure img {
    width: 100%;
    border-radius: 5px;
}

figcaption {
    margin-top: 0.5rem;
    font-weight: lighter;
}

footer {
    background: rgb(1, 125, 174);
    color: white;
    text-align: center;
}